 <page>
 <group title="设置">
     <action>
         <title>Rootfs路径</title>
             <param name="Input" label="" title="" placeholder="请输入." type="text" />
            <set>$TOOLKIT/cli.sh set_rootfsdir</set>
             </action>
             
        <action>
            <title>初始化命令行</title>
            <param name="Input" label="" title="" placeholder="请输入." type="text" />
            <set>$TOOLKIT/cli.sh set_initcmd</set>
        </action>
        
        <action>
            <title>设置自定义 PATH</title>
            <param name="Input" label="" title="" placeholder="请输入." type="text" />
            <set>$TOOLKIT/cli.sh set_path</set>
        </action>
          </group>
          
             <group title="配置文件设置">
              <action>
            <title>查看正在使用的配置</title>
            <set>echo "$confid"</set>
        </action>
        
               <action>
            <title>新建</title>
             <param name="mkconf" label="配置名称" title="" placeholder="请输入." type="text" />
            <set>$TOOLKIT/cli.sh mk_conf</set>
        </action>
        
            <action>
            <title>切换</title>
             <param name="swconf" label="配置名称" title="" placeholder="请输入." type="text" />
            <set>$TOOLKIT/cli.sh sw_conf</set>
        </action>
        
         <action>
            <title>删除</title>
             <param name="delconf" label="配置名称" title="" placeholder="请输入." type="text" />
            <set>$TOOLKIT/cli.sh del_conf</set>
            
        </action>
    </group>
    
       <group title="高级设置">
        <action>
            <title>备份已安装系统</title>
            <set>$TOOLKIT/cli.sh backup_rootfs</set>
        </action>
        
          <action>
            <title>容器CLI启动设置</title>
             <param name="type">
                <option value="/bin/sh /cli.sh sshd_start">启动sshd</option>
                <option value="/bin/sh /cli.sh dropbear_start">启动dropbear</option>
                <option value="/bin/sh /cli.sh vncserver_start">启动vncserver</option>
            </param>
            <set>echo "$type">$CONFIG_DIR/$confid/cmd.conf</set>
             </action>
           </group>
           
           <group title="危险选项">
           
             <action>
            <title>删除Rootfs</title>
             <param name="type">
                <option value="">取消</option>
                <option value="del_rootfs">确定删除</option>
            </param>
            <set>sh $TOOLKIT/cli.sh $type</set>
        </action>

            <action>
            <title>移除运行环境</title>
             <param name="test">
                <option value="echo 已取消">取消</option>
                <option value="rm -rf $TOOLKIT/*">继续</option>
            </param>
            <set>$test</set>
        </action>
    </group>
    </page>